<div class="row">
    <div class="col col-12">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div formGroupName="fullName">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName" >
                <span *ngIf="!createForm.get('firstName')?.valid && createForm.get('firstName')?.touched" class="alert-danger">First Name is required</span>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" >
            </div>
            </div>
            
            <div class="form-group">
                <label for="phoneNumber">phoneNumber</label>
                <input type="number" class="form-control" formControlName="phoneNumber" >
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" formControlName="email" >
            </div>

            
            <div class="form-group">
                <label for="address">address</label>
                <input type="text" class="form-control" formControlName="address" >
            </div>
            

            <div class="form-group">
                <label for="ssn">SSN</label>
                <input type="text" class="form-control" formControlName="ssn" >
            </div>
            
            <div class="form-group">
                <label for="country">country</label>
                <input type="text" class="form-control" formControlName="country" >
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" formControlName="age" >
            </div>

            
            <div class="form-group">
                <label for="gender">Gender</label>
                <select formControlName="gender" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>

            <br/>
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!createForm.valid">Submit</button>
        </form>

    </div>
</div> 