<div class="row">
    <div class="col col-12">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="doctor">Doctor Name</label>
                <input type="text" class="form-control" formControlName="doctor" >
            </div>

            <div class="form-group">
                <label for="patient">Patient Name</label>
                <input type="text" class="form-control" formControlName="patient" >
            </div>

            <div class="form-group">
                <label for="reservation">Reservation</label>
                <input type="text" class="form-control" formControlName="reservation" >
            </div>

            <br/>
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!createForm.valid">Submit</button>
        </form>

    </div>
</div> 