<div class="row">
    <div class="col col-12">
        <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm" >
      

                <div class="form-group">
                    <label for="doctor">doctor Name</label>
                    <input type="text" class="form-control" #doctor="ngModel" [ngModel]="appointment.doctor.firstName" id="doctor"  name="doctor" required>
                    <span *ngIf="!doctor.valid && doctor.touched" class="alert-danger">doctor Name is required</span>
                </div>


                <div class="form-group">
                    <label for="patient">patient Name</label>
                    <input type="text" class="form-control" #patient="ngModel" [ngModel]="appointment.patient.firstName" id="patient" name="patient" patient required>
                    <span *ngIf="!patient.valid && patient.touched" class="alert-danger">patient is required</span>
                </div>

                <div class="form-group">
                    <label for="reservation">reservation</label>
                    <input type="text" class="form-control" #reservation="ngModel" [ngModel]="appointment.reservation" id="reservation" name="reservation" reservation required>
                    <span *ngIf="!reservation.valid && reservation.touched" class="alert-danger">reservation is required</span>
                </div>
    

           
           

    

      
<br/>

            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!editForm.valid">Submit</button>
        </form>
    </div>
</div> 